{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
    <script src="https://kit.fontawesome.com/18d4c57f2b.js" crossorigin="anonymous"></script>
</head>
<body>
    <aside>
        <img src="{% static 'news/img/logo.svg' %}" alt="Logo">
        <span class = "logo">JustAyaz</span>

        <ul>
            <a href="/"><li><i class="fas fa-home"></i> Home</li></a>
            <a href="/all/"><li><i class="fas fa-book"></i> All links</li></a>
        </ul>

    </aside>
    <main>
        <form action="" method="post">
            {% csrf_token %}

                <div class="form-group">
                {% if form.link.errors %}
                    <div class="alert alert-danger">
                        {{ form.link.errors }}
                    </div>
                {% endif %}
                    {% render_field form.link  class="input" placeholder="your link" %}
                <small id="linkHelp" class="form-text text-muted">That link should exist</small>


                </div>


            <button type="submit" class="btn btn-primary">Create Link</button>
        </form>
    </main>
</body>
</html>