{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
    <script src="https://kit.fontawesome.com/18d4c57f2b.js" crossorigin="anonymous"></script>
</head>
<body>
    <aside>
        <img src="{% static 'news/img/logo.svg' %}" alt="Logo">
        <span class = "logo">JustAyaz</span>

        <ul>
            <a href="/"><li><i class="fas fa-home"></i> Home</li></a>
            <a href="/all"><li><i class="fas fa-book"></i> All links</li></a>
        </ul>

    </aside>
    <main>
        <table>
            <thead class="table">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Link</th>
                    <th scope="col">My link</th>
                    <th scope="col">Created at</th>
                </tr>
            </thead>
            <tbody>
                {% for link in links %}
                    <tr>
                        <th scope="row">{{ link.id }} </th>>
                        <td>{{ link.link }}</td>
                        <td>{{ link.my_link }}</td>
                        <td>{{ link.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>